/* CSS Variables */
:root {
}

/* General Selector */
* {
}

/* Element Selectors */
header {
}

body {
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  justify-content: center;
}

/* Class Selectors */
.side-column-full-width {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.blog-card {
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.762);
}

.blog-card-title {
  font-size: larger;
  font-weight: bold;
}

.blog-card-username {
  font-style: italic;
}

.blog-card-content {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}


/* Id Selectors */
#main-panel {
  display: grid;
  justify-content: center;
  grid-template-columns: [col-main] 3fr [col-side] 2fr;
  grid-auto-flow: column;
}

#older-posts {
  overflow: scroll;
}

.secondary-blogs-column {
  /* height: 100px; */
}


#side-panel {
  /* display: grid;
  justify-content: center;
  grid-template-rows: 10% 90%;
  padding: 1%;
  color: white; */
  background-color: rgba(0, 0, 0, 0.751);
}

/* Media Queries */
