/* CSS Variables */
:root {
}

/* General Selector */
* {
}

/* Element Selectors */
header {
}

body {
}

/* Class Selectors */

/* Id Selectors */
#main-panel {
  display: grid;
  grid-template-columns: 60% 40%;
}

#side-panel {
  display: grid;
  justify-content: center;
  grid-template-rows: 10% 90%;
  padding: 1%;
  color: white;
  background-color: rgba(0, 0, 0, 0.751);
}

#form-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

#input-blog-content {
  height: 300px;
  resize: vertical;
}

#welcome-back {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  height: 10%;
}
/* Media Queries */
