/* CSS Variables */
:root {
}

/* General Selector */
* {
}

/* Element Selectors */
header {
}

main {
  display: grid;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.751);
  grid-template-rows: 10% 90%;
  padding: 1%;
  color: white;
}

/* Class Selectors */

.full-width {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Id Selectors */
#form-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

#input-blog-content {
  height: 300px;
  resize: vertical;
}

#submit-button-container {
    margin-top: 10px;
}

#welcome-back {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  height: 10%;
}

/* Media Queries */
