/* CSS Variables */
:root {
}

/* General Selector */
* {
}

/* Element Selectors */
header {
}

body {
}

/* Class Selectors */

/* Id Selectors */
#form-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

#input-blog-content {
  height: 300px;
  resize: vertical;
}

#welcome-back {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  height: 10%;
}

/* Media Queries */
