/* CSS Variables */
:root {
  --color-teal: rgb(128, 231, 249);
}

/* General Selector */
* {
}

/* Element Selectors */
header {
}

html {
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  height: 100%;
  box-sizing: border-box;
}

header {
  background-color: var(--color-teal);
  height: 30px;
  grid-area: header;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  margin: 0;
  background-image: url("../images/fuente-de-los-coyotes.jpg");
  background-size: cover;
}

main {
  grid-area: main;
  overflow: auto;
}

footer {
  grid-area: footer;
}

section {
  border: 2px solid black;
}

textarea {
}

button {
  background-color: var(--color-teal);
  font-weight: bold;
}

footer {
  background-color: black;
  height: 25px;
}

/* Class Selectors */




/* Id Selectors */



/* Media Queries */
